:root {
  --gradient: linear-gradient(
    45deg,
    #f274eb,
    #f17ded,
    #e653bc,
    #e677dd,
    #e94584,
    #db24c6
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
